<!-- Search bar -->
<form data-search-list="{{data-search-list}}" data-search-in="{{searchIn}}" class="searchbar searchbar-init">
  <div class="searchbar-input">
    {{input type='search' value=query placeholder=placeholder}}<a href="#" class="searchbar-clear"></a>
  </div><a href="#" class="searchbar-cancel">{{cancelText}}</a>
</form>
<!-- Search bar overlay -->
<div class="searchbar-overlay"></div>
{{yield}}